<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myssm.yuan.dao.IUserDao" >
   <select id="getMemberList" resultType="com.ckt.ckttodo.pojo.Member">
   		select * from member
   </select>
   <select id="getMemberByMemName" parameterType="String" resultType="com.ckt.ckttodo.pojo.Member">
 		select * from member where mem_name=#{mem_name}
 	</select>
</mapper>